<br />

<div class="booyah-box col-10 offset-1">
  <div class = "text-center">
  <h1> Meet the Team</h1>
  </div>
  <br />
  <p> The Flixter App was created by Samantha Lee, a web developer in the University of Denver Coding Bootcamp.</p>
  <p> Flixter demonstrates Samantha's growing knowledge of HTML5, CSS, Ruby, Rails, and JavaScript. The app also uses Bootstrap, accepts credit card payment with Stripe, and uses CarrierWave to store photo and video uploads.</p>

  <h2>Check Out Samantha's Other Projects</h2>

    <a href ="https://nomster-samantha-lee.herokuapp.com/"> Nomster </a>
    <br />
    <a href = "https://splurty-samantha-lee.herokuapp.com/"> Splurty </a>
    <br />
    <br />

  <h3> Follow Samantha </h3>
    <a href = "https://github.com/samanthal-lee3"> GitHub </a>
    <br />
    <a href ="https://www.linkedin.com/in/samantha-lee-5a9ab0134/">
    Linkedin </a>
    <br />
  <br/>
  </div>